@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  min-height: 100vh;      /* enable scrolling */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE/Edge */
  background-color: #FCEDD6;
  /* Smooth neutral gradient background */
}

/* Hide scrollbar for Chrome/Safari */
body::-webkit-scrollbar {
  display: none;
}


/* Hide scrollbar for Chrome, Safari, Edge */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;               /* Chrome, Safari */
}
.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.width{
  width: -webkit-fill-available;
}
.sketch-border2 {
  position: relative;
  padding-bottom: 5px; /* space for underline */
}

.sketch-border2::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 6px;
  rotate: calc(-4deg);
  width: 55%;
  height: 8px;
  background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='16' preserveAspectRatio='none'%3E%3Cpath d='M2 16 Q59 9 100 15 T220 19 T316 19 T400 19 T520 30' stroke='black' stroke-width='2.1' fill='transparent' stroke-linecap='round'/%3E%3C/svg%3E") no-repeat center bottom;
  background-size: 100% 100%;
}
